
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="d-flex mx-5 text-center">

    <div class="card bg-dark" style="width: 18rem; margin-right:5px;">
        <div class="card-body">
            <h5 class="card-title">Toplam Kategori Sayısı</h5>
            <p class="card-text" style="font-size:20px; font-weight:bold;">@ViewBag.CategoryCount</p>
        </div>
    </div>

    <div class="card bg-dark" style="width: 18rem; margin-right:5px;">
        <div class="card-body">
            <h5 class="card-title">Yazılım Kategorisine Ait Başlık Sayısı</h5>
            <p class="card-text" style="font-size:20px; font-weight:bold;">@ViewBag.Heading</p>
        </div>
    </div>

    <div class="card bg-dark" style="width: 18rem; margin-right:5px;">
        <div class="card-body">
            <h5 class="card-title">Adında 'A' Harfi Bulunan Yazar Sayısı</h5>
            <p class="card-text" style="font-size:20px; font-weight:bold;">@ViewBag.Writer</p>
        </div>
    </div>

    <div class="card bg-dark" style="width: 18rem; margin-right:5px;">
        <div class="card-body">
            <h5 class="card-title">En Fazla Başlığa Sahip Kategori Adı</h5>
            <p class="card-text" style="font-size:20px; font-weight:bold;">@ViewBag.HeadingMax</p>
        </div>
    </div>

    <div class="card bg-dark" style="width: 18rem; margin-right:5px;">
        <div class="card-body">
            <h5 class="card-title">Durumu True/False Olan Kategoriler Arasındaki Sayısal Fark</h5>
            <p class="card-text" style="font-size:20px; font-weight:bold;">@ViewBag.Status</p>
        </div>
    </div>
</div>